
/*======================================
	Header CSS
========================================*/
.header{
	position:relative;
}
.middle-header {
    background: #fff;
    position: relative;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
/* Logo */
.header .logo {
    z-index: 33;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header .img-logo {
    margin-top: 22px;
}
.header .text-logo{
	margin-top:30px;
}
.header .text-logo a,
.header .img-logo a {
    font-size: 26px;
    font-weight: 600;
    display: block;
    z-index: 9999;
    position: relative;
}
.header .menu-area {
    position: relative;
}
.header .navbar {
	padding: 0;
}
/* Main Menu */
.header .nav-inner {
    float: right;
    margin-right: 140px;
    text-align: right;
}
.header .nav li {
    margin-right: 30px;
    position: relative;
    float: none;
    display: inline-block;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
    text-transform: capitalize;
    position: relative;
    display: block;
    padding: 30px 0;
    color: #2E2751;
    font-weight: 600;
}
.header .nav li.active a,
.header .nav li:hover a{
	color:#179E66;
}
.header .nav li a::before {
	content: "";
	position: absolute;
	width: 0;
	height: 4px;
	background: #179E66;
	bottom: -2px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.header .nav li.active a::before,
.header .nav li:hover a::before {
	opacity:1;
	visibility:visible;
    transform: scaleY(1);
	width: 50%;
}
.navbar-expand-lg .navbar-collapse{
	display:block !important;
}
.header .nav li a i {
	margin-left: 6px;
	font-size: 10px;
}
.header .nav li.icon-active a::after {
	content: "\f107";
	position: relative;
	font-family: 'FontAwesome';
	padding-left: 6px;
}
/* Header Style 2*/
.header.style2 .middle-header {
    position: absolute;
    top: 51px;
    z-index: 9000;
    width: 100%;
    background: transparent;
    border: none;
	box-shadow:none;
}
.header.style2 .middle-inner{
	background:#2E2751;
	z-index:2035;
	padding:10px 20px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.header.style2 .topbar {
    background: #fff;
    padding: 15px 0 35px;
}
.header.style2 .topbar .single-contact, .header.style2 .topbar .single-contact a{
	color:#666;
}
.header.style2 .topbar .social-icons li a{
	color:#2E2751;
}
.header.style2 .topbar .social-icons li:hover a{
	color:#F3A712;
}
.header.style2 .img-logo {
    margin-top: 12px;
}
.header.style2 .text-logo {
    margin-top: 16px;
}
.header.style2 .text-logo a{
	color:#fff;
}
.header.style2 .logo {
    position: relative;
    top: 0;
    height: auto;
    margin: 0;
    background: transparent;
    box-shadow: none;
    line-height: initial;
    padding: 0;
    margin: 0;
}
.header.style2 .nav li a {
    color: #eee;
    padding: 22px 0;
}
.header.style2 .nav li:hover a{
	color:#E7A014;
}
.header.style2 .nav li a::before{
	background:#F3A712;
}
.header.style2 .nav li .sub-menu li a{
	color:#666;
}
.header.style2 .nav li .sub-menu li:hover a{
	background:#E7A013;
	color:#fff;
}
.header.style2 .nav li .sub-menu li .sub-menu li a{
	color:#666;
}
.header.style2 .nav li .sub-menu li .sub-menu li:hover a{
	background:#E7A013;
	color:#fff;
}
.header.style2 .button {
    position: absolute;
    right: 0;
    top: 7px;
}
.header.style2 .bizwheel-btn {
    background: #179E66;
    padding: 12px 20px;
    font-size: 14px;
}
.header.style2 .topbar .social-icons {
    margin: 0;
}
.header.style2 .nav-inner {
    margin-right: 165px;
}
.header.style2 .bizwheel-btn:hover{
	background:#fff;
	color:#179E66;
}
.header.style2 .top-contact, 
.header.style2 .social-icons {
    padding: 0;
}
/*======================================
	End Header CSS
========================================*/
/*====================================
	Preloader CSS
======================================*/
.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 10px solid #F3A712;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


@media only screen and (min-width: 991px) and (max-width: 1900px) {
/* Header Sticky */
.header.sticky .middle-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300000;
    -webkit-box-shadow: 0px 0px 10px #00000021;
    -moz-box-shadow: 0px 0px 10px #00000021;
    box-shadow: 0px 0px 10px #00000021;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    animation: fadeInDown 1s both 0.2s;
}
.header.style2.sticky .middle-header {
    background: #2E2751;
}

.header.sticky .nav li a {
    padding: 22px 0;
}
.header.sticky .text-logo {
    margin-top: 22px;
}
.header.sticky .right-bar {
    line-height: 72px;
}
.header.sticky .img-logo {
    margin-top: 12px;
}
.header.style2.sticky .middle-inner {
    padding: 0;
}
.header.style2.sticky .text-logo {
    margin-top: 15px;
}
.header.sticky .search-top {
    top: 69px;
}
}
/*====================================
	Footer CSS
======================================*/
.footer {
	background-color: #2e2751;
}
.footer .footer-top {
    padding: 50px 0 80px;
}
.footer .single-widget {
	margin-top: 30px;
}
.footer .single-widget h3 {
    color: #fff;
    font-size: 18px;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 15px;
	padding-bottom: 15px;
}
.footer .single-widget h3::before {
	content: "";
	position: absolute;
	left: 0;
	width: 40px;
	height: 2px;
	bottom: -1px;
	background: #f3a712;
	display: block;
}
.footer p {
	color: #ccc;
	font-size:14px;
}

.footer-about .logo {
    margin-bottom: 15px;
}
.footer-about .text-logo a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
/* Footer Link */
.footer .f-link ul li {
    margin-bottom: 0px;
    position: relative;
    padding-left: 25px;
    line-height: 34px;
}
.footer .f-link ul li:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin-top: -5px;
    background: #d4d4d4;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.footer .f-link ul li:hover:before{
	background:#F3A712;
}
.footer .f-link ul li:last-child{
	margin-bottom:0px;
}
.footer .f-link ul li a {
    display: inline-block;
    color: #B4B4B4;
    padding: 0;
    margin: 0;
    background: transparent;
    font-size: 14px;
    font-weight: normal;
}
.footer .f-link ul {
    box-shadow: none;
    margin: 0;
}
.footer .f-link ul li a::before{
	display:none;
}
.footer .f-link ul li a:hover {
	color:#F3A712;
}
/* Footer Newsletter */
.footer .footer-newsletter form {
    background: #fff;
    padding: 15px;
    line-height: initial;
	position:relative;
}
.footer .footer-newsletter form input{
	height: 54px;
	padding: 0 20px 0 20px;
	border: none;
	width: 100%;
	position: relative !important;
	font-size: 14px;
	border: 1px solid #ebebeb;
	line-height: 50px;
	border-radius:0px;
}
.footer .footer-newsletter form button {
	background: #F3A712;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	box-shadow: none;
	width: auto;
	padding: 0 20px;
	height: 53px;
	text-align: center;
	display: block;
	margin: 0;
	margin-top: 0px;
	border-radius: 0px;
	cursor: pointer;
	color: #fff;
	top: 15px;
	right: 15px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.footer .footer-newsletter form button:hover{
	background:#2E2751;
}
/* Footer News */
.footer-news .single-f-news .content {
  padding-left: 85px;
}
.footer-news .single-f-news .content .title {
  font-size: 14px;
}
.footer-news .single-f-news .content .title a {
    color: #ccc;
}
.footer-news .single-f-news .content .title a:hover{
	color:#F2A611
}
.footer .footer-newsletter .address {
	color: #777;
	font-size: 15px;
	margin-bottom: 20px;
}
.footer .single-f-news .post-meta i {
    color: #F3A712;
}
.footer .address-widget-list li {
    display: block;
    margin-bottom: 10px;
    line-height: 25px;
}
.footer .address-widget-list li,
.footer .address-widget-list li a {
    font-weight: normal;
    color: #ccc;
    font-size: 15px;
}
.footer .address-widget-list li i {
    width: 25px;
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 100%;
    font-size: 13px;
    margin-right: 10px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.footer .address-widget-list li:hover i{
	background:#fff;
	color:#F3A712;
}
.footer .address-widget-list li:last-child{
	margin-bottom:0px;
}
.footer .address-widget-list li span{
	color:#179E66;
	display:inline-block;
}
.footer_contact p {
	margin-bottom: 15px;
}
/* Social */
.footer .social{
	margin-top:22px;
}
.footer .social li {
    display: inline-block;
    margin: 0 10px 0 0;
}
.footer .social li:last-child{
	margin-right:0px;
}
.footer .social li a {
    color: #fff;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: initial;
    border: none;
}
.footer .social-icons li:before {
  display: none;
}

/* Copyright */
.footer .copyright {
    text-align: center;
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #ebebeb3b;
}
.footer .copyright-content p {
    color: #fff;
    font-size: 14px;
}
.footer .copyright-content p span{
	font-size:17px;
	font-weight:800;
	text-transform:uppercase;
}
.footer .copyright-content a:hover{
	color:#F3A712;
}

.home-slider {
	overflow: hidden;
}
.hero-slider {
	position: relative;
}
.hero-slider,
.hero-slider .single-slider{
	height:680px;
}
.hero-slider .single-slider {
	background-size: cover;
	background-position: center;
	position: relative;
}
.hero-slider .single-slider .slide-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.65;
}
.hero-slider .welcome-text {
    margin: 146px 0 0;
}
.hero-slider .hero-text h4 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
    display: inline-block;
    background: #2E2751;
    padding: 8px 20px;
    font-size: 16px;
}
.hero-slider .hero-text h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    border-top: 8px solid #2E2751;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.hero-slider .hero-text h1 {
    color: #2E2751;
    font-size: 50px;
    font-weight: bold;
    line-height: 65px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.hero-slider .hero-text h1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 6px;
    background: #f3a712;
    bottom: -3px;
}
.hero-slider .hero-text .p-text{
	max-width:80%;
}
.hero-slider .hero-text p {
    color: #666;
    font-size: 15px;
}
.hero-slider .hero-text .button {
	margin-top: 30px;
}

/* Text Center */
.hero-slider .hero-text.text-center h1::before {
    left: 50%;
    margin-left: -25px;
}

/* Text Left */
.hero-slider .hero-text.text-right h1::before {
    left: auto;
	right:0;
    margin:0;
}

/* Slider Nav */
.hero-slider .owl-nav{
	margin: 0;
    width: 100%;
}
.hero-slider .owl-carousel .owl-nav div {
    width: 50px;
    height: 60px;
    line-height: 60px;
    background: #f3a712;
    color: #fff;
    position: absolute;
    margin: 0;
    padding: inherit;
    font-size: 30px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0px;
    top: 50%;
    margin-top: -30px;
}
.hero-slider .owl-carousel .owl-nav div:hover{
	color:#fff;
	background:#2E2751;
}
.hero-slider .owl-carousel .owl-nav .owl-prev{
	left:-100px;
}
.hero-slider:hover .owl-carousel .owl-nav .owl-prev{
	left:0px;
}
.hero-slider .owl-carousel .owl-nav .owl-next{
	right:-100px;
}
.hero-slider:hover .owl-carousel .owl-nav .owl-next{
	right:0px;
}

/* Hero Animations */
.hero-slider .owl-item.active .hero-text h4{
	animation: fadeInUp 0.8s both 1s;
}
.hero-slider .owl-item.active .hero-text h1{
	animation: fadeInRight 1s both 1.2s;
}
.hero-slider .owl-item.active .hero-text p{
	animation: fadeInLeft 1.2s both 1.4s;
}
.hero-slider .owl-item.active .button{
	animation: fadeInUp 1.4s both 1.6s;
}




@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
/*======================================
   End Hero Area CSS
========================================*/ 

/*======================================
	Features CSS
========================================*/
.features-area{
	padding:40px 0 70px;
}
.single-feature {
    text-align: center;
    margin-top: 30px;
    padding: 30px 15px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    border-top: 3px solid transparent;
    transition: all 0.4s ease;
}
.single-feature:hover,
.single-feature.active{
	border-top-color:#179E66;
}
.single-feature:hover{
	transform:scale(1.03);
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.single-feature .icon-head i{
	color:#f3a712;
	width:90px;
	height:90px;
	line-height:90px;
	background:#fff;
	border: 1px solid #ebebeb;
	border-radius:100%;
	font-size: 34px;
	position:relative;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.single-feature.active .icon-head i,
.single-feature:hover .icon-head i {
    background: #179E66;
    color: #fff;
    border-color: transparent;
}
.single-feature .icon-head i::after {
    position: absolute;
    width: 20px;
    height: 2px;
    z-index: 3;
    opacity: 1;
    line-height: 20px;
    background: #f3a712;
    border-radius: 25px;
    left: 50%;
    bottom: 19px;
    content: "";
    margin-left: -10px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.single-feature.active .icon-head i:after,
.single-feature:hover .icon-head i:after{
	background:#fff;
}
.single-feature h4 {
	margin: 15px 0;
	line-height: inherit;
}
.single-feature h4 a {
    font-size: 18px;
    color: #2e2751;
    display: inline-block;
}
.single-feature p{
	font-size: 14px;
}.bizwheel-btn.theme-2 {
    background: #f3a712;
    color: #fff;
    padding: 15px 32px;
}
.single-feature .button{
	margin-top: 15px;
}
/*======================================
	End Features CSS
========================================*/
/*======================================
	Services CSS
========================================*/ 
.single-service {
	position: relative;
	background: #fff;
	margin-top: 30px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	overflow: hidden;
	text-align: left;
	-webkit-box-shadow: 0 0 20px #e8e8e8;
	-moz-box-shadow: 0 0 20px #e8e8e8;
	box-shadow: 0 0 20px #e8e8e8;
}
.single-service .service-head{
	position:relative;
}
.single-service .icon-bg {
    color: #179E66;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    z-index: 333;
    bottom: -33px;
    right: 10px;
    background: #fff;
    width: 66px;
    height: 66px;
    line-height: 66px;
    font-size: 25px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
}
.single-service:hover .icon-bg{
	background:#179E66;
	color:#fff;
}
.single-service .service-content{
	padding: 30px 20px;
}
.single-service h4 {
	position: relative;
	margin-bottom: 10px;
	text-transform: capitalize;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	text-transform: capitalize;
}
.single-service h4 a {
	color: #28243C;
	font-size: 20px;
}
.single-service h4:hover a{
	color:#F3A712;
}
.single-service p {
	font-size: 15px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.single-service .service-content p{
	margin:0;
}
.single-service .btn {
    background: transparent;
    margin-top: 15px;
    font-size: 15px;
    padding: 0;
    color: #2E2751;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.single-service:hover .btn{
	color:#F3A712;
}
.single-service .btn i{
	margin-right:5px;
}
/* Service MENU */

/* Service Details */
.service-content h2 {
	margin: 20px 0;
}
.service-content p {
	margin-bottom: 20px;
}
.service-content p:last-child{
	margin:0;
}
.service-content .service-space {
	margin-bottom: 20px;
}

/*======================================
	End Services CSS
========================================*/
/*======================================
	Call To Action CSS
========================================*/
.call-action{
	background-size:cover;
	background-position:center;
	padding:50px 0;
}
.call-action.overlay:before {
    opacity: 0.92;
    background: #179E66;
}
.call-action .call-inner {
    z-index: 33;
    position: relative;
}
.call-action .call-inner:after {
    content: "";
}
.call-action .call-inner h2 {
    font-size: 34px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
}
.call-action .call-inner p {
    color: #eee;
    font-size: 15px;
}
.call-action .button {
    z-index: 333;
    position: relative;
    float: right;
    margin-top: 5px;
}
.call-action .bizwheel-btn {
    background: #F3A712;
    color: #fff;
	box-shadow:0 10px 10px -8px rgba(0, 0, 0, 0.5);
}
.call-action .bizwheel-btn:hover{
	background:#fff;
	color:#F3A712;
}
.call-action .call-text {
    z-index: 35;
    margin-top: 60px;
    position: relative;
    padding-left: 30px;
}
.call-action .call-text h4 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}
.call-action .call-text p{
    color: #eee;
	font-size:15px;
}
.call-action .call-text i {
    width: 80px;
    color: #fff;
    height: 80px;
    line-height: 80px;
    background: #f3a712;
    font-size: 30px;
    margin-top: 40px;
    border: 3px solid #fff;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
}
.call-action .call-text span {
    color: #fff;
    margin-left: 20px;
}
/*======================================
   End Call To Action CSS
========================================*/
/*======================================
	Testimonial CSS
========================================*/ 
.testimonials {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.testimonial-inner {
    position: relative;
    text-align: center;
}
.testimonial-inner .testimonial-slider {
    margin: -15px;
}
.testimonial-inner .single-slider {
    position: relative;
    padding: 30px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0 0 15px #1010101f;
    -moz-box-shadow: 0 0 15px #1010101f;
    box-shadow: 0 0 15px #10101036;
    margin: 15px;
}
.testimonial-inner .star-list {
    margin-bottom: 10px;
}
.testimonial-inner .star-list li {
	display: inline-block;
	margin-right: 3px;
}
.testimonial-inner .star-list li:last-child{
	margin:0;
}
.testimonial-inner .star-list li i {
    font-size: 15px;
    color: #179e66;
}
.testimonial-inner .single-slider p {
    position: relative;
    font-size: 15px;
}

/* Testimonial Info */
.testimonial-inner .t-info {
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}
.testimonial-inner .t-left{
	float:left;
}
.testimonial-inner .client-head{
	display:inline-block;
	float:left;
}
.testimonial-inner .t-info img {
    width: 75px;
    height: 75px;
    border: 2px solid #ebebeb;
    padding: 5px;
    margin-right: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.testimonial-inner .single-slider:hover .t-info img {
	border-color:#179e66;
}
.testimonial-inner .t-left h2 {
    margin-top: 0;
    font-size: 20px;
    position: relative;
    top: 0;
    line-height: initial;
    display: inline-block;
    margin-top: 5px;
}
.testimonial-inner .t-left h2 span{
	display:block;
	color:#555;
	font-size:15px;
	font-weight:400;
}
.testimonial-inner .t-right .quote {
    color: #f3a712;
    float: right;
    z-index: 3;
    line-height: initial;
    height: 80px;
    font-size: 50px;
}
/* Slider Nav */
.testimonial-slider .owl-controls .owl-dots {
    margin-top: 10px;
}
.testimonial-slider .owl-controls .owl-dot {
    margin-right: 8px;
}
.testimonial-slider .owl-controls .owl-dot:last-child {
    margin-right: 0px;
}
.testimonial-slider .owl-controls .owl-dot span {
    background: transparent;
    border: 4px solid #f3a712;
    width: 13px;
    height: 13px;
    margin: 0;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.testimonial-slider .owl-controls .owl-dot:hover span,
.testimonial-slider .owl-controls .owl-dot.active span {
    background: transparent;
    border-color: transparent;
    background: #f3a712;
}
/*======================================
	End Testimonial CSS
========================================*/ 
/* Defualt SLider*/
.news-slider.owl-carousel .owl-controls {
    margin-top: 30px;
}
.news-slider.owl-carousel .owl-nav div {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #f3a712;
    color: #fff;
    margin: 0;
    padding: inherit;
    font-size: 22px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: inherit;
    margin-right: 10px;
}
.news-slider.owl-carousel .owl-nav div:hover {
	background:#2E2751;
	color:#fff;
}
.news-slider.owl-carousel .owl-nav div:last-child{
	margin:0;
}

@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}